#container{
    height:600px;
    width:80%;
    background-color: aquamarine;
    display:grid;
    grid-template-rows:200px 200px 200px;
    grid-template-columns:200px 200px 200px;

    /* grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;*/

    /* grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(3,2fr); */

     row-gap:10px;
    column-gap:10px;
    grid-gap:10px 10px;

    /* place-self:end; */

} 
#container div{
    height:100px;
    width:200px;
    background-color:red;
    /* text-align:center; */
    font-size:1.3em;
}
 #one{
/*     
    grid-row-start:1;
    grid-row-end:3; */
    background-color:yellow;
}